--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA public;


--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA public IS 'standard public schema';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: access_log; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.access_log (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    subject_id uuid NOT NULL,
    actor_id uuid NOT NULL,
    purpose text NOT NULL,
    resource text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: audit_log; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.audit_log (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    booking_id uuid,
    actor_id uuid,
    action text NOT NULL,
    reason text,
    meta jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: payments_dlq; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.payments_dlq (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    outbox_id uuid NOT NULL,
    error text NOT NULL,
    attempts integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: payments_outbox; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.payments_outbox (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    booking_id uuid NOT NULL,
    event_type text NOT NULL,
    idempotency_key text NOT NULL,
    state text DEFAULT 'queued'::text NOT NULL,
    payload jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    processed_at timestamp with time zone,
    error text,
    CONSTRAINT payments_outbox_state_check CHECK ((state = ANY (ARRAY['queued'::text, 'in_flight'::text, 'committed'::text, 'failed'::text])))
);


--
-- Data for Name: access_log; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.access_log (id, subject_id, actor_id, purpose, resource, created_at) FROM stdin;
\.


--
-- Data for Name: audit_log; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.audit_log (id, booking_id, actor_id, action, reason, meta, created_at) FROM stdin;
\.


--
-- Data for Name: payments_dlq; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.payments_dlq (id, outbox_id, error, attempts, created_at) FROM stdin;
\.


--
-- Data for Name: payments_outbox; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.payments_outbox (id, booking_id, event_type, idempotency_key, state, payload, created_at, processed_at, error) FROM stdin;
\.


--
-- Name: access_log access_log_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.access_log
    ADD CONSTRAINT access_log_pkey PRIMARY KEY (id);


--
-- Name: audit_log audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_pkey PRIMARY KEY (id);


--
-- Name: payments_dlq payments_dlq_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payments_dlq
    ADD CONSTRAINT payments_dlq_pkey PRIMARY KEY (id);


--
-- Name: payments_outbox payments_outbox_idempotency_key_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payments_outbox
    ADD CONSTRAINT payments_outbox_idempotency_key_key UNIQUE (idempotency_key);


--
-- Name: payments_outbox payments_outbox_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payments_outbox
    ADD CONSTRAINT payments_outbox_pkey PRIMARY KEY (id);


--
-- Name: idx_access_subject; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_access_subject ON public.access_log USING btree (subject_id);


--
-- Name: idx_audit_booking; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_audit_booking ON public.audit_log USING btree (booking_id);


--
-- Name: idx_payments_outbox_booking; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_payments_outbox_booking ON public.payments_outbox USING btree (booking_id);


--
-- Name: idx_payments_outbox_state; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_payments_outbox_state ON public.payments_outbox USING btree (state);


--
-- Name: payments_dlq payments_dlq_outbox_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payments_dlq
    ADD CONSTRAINT payments_dlq_outbox_id_fkey FOREIGN KEY (outbox_id) REFERENCES public.payments_outbox(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

