openapi: 3.0.3
info:
  title: Bookiji API
  version: 1.0.0
  description: Universal booking platform API
servers:
  - url: https://www.bookiji.com
    description: Production
  - url: https://staging.bookiji.com
    description: Staging
  - url: http://localhost:3000
    description: Local development

paths:
  /api/health:
    get:
      summary: Health check endpoint
      operationId: getHealth
      tags:
        - System
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '500':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /api/bookings/create:
    post:
      summary: Create a new booking
      operationId: createBooking
      tags:
        - Bookings
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBookingRequest'
      responses:
        '200':
          description: Booking created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingResponse'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /api/stripe/webhook:
    post:
      summary: Stripe webhook endpoint
      operationId: stripeWebhook
      tags:
        - Payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  example: payment_intent.succeeded
                data:
                  type: object
      responses:
        '200':
          description: Webhook processed
          content:
            application/json:
              schema:
                type: object
                properties:
                  received: { type: boolean }
        '400':
          description: Invalid webhook signature or payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /api/calendar/{id}.ics:
    get:
      summary: Get calendar ICS file
      operationId: getCalendarICS
      tags:
        - Calendar
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: ICS file
          content:
            text/calendar:
              schema:
                type: string
        '404':
          description: Calendar not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /api/auth/login:
    post:
      summary: User login
      operationId: login
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /api/vendor/register:
    post:
      summary: Register as a vendor
      operationId: registerVendor
      tags:
        - Vendor
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VendorRegisterRequest'
      responses:
        '200':
          description: Vendor registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorResponse'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /api/admin/audit:
    get:
      summary: Get audit log (admin only)
      operationId: getAuditLog
      tags:
        - Admin
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Audit log entries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogResponse'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: Not authorized (not admin)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    HealthResponse:
      type: object
      required: [status, timestamp]
      properties:
        status:
          type: string
          enum: [healthy, unhealthy]
        timestamp:
          type: string
        version:
          type: string
        environment:
          type: string

    CreateBookingRequest:
      type: object
      required: [providerId, serviceId, startTime, endTime, amountUSD]
      properties:
        providerId:
          type: string
          format: uuid
        serviceId:
          type: string
          format: uuid
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
        amountUSD:
          type: number
          minimum: 0

    BookingResponse:
      type: object
      required: [ok, data]
      properties:
        ok:
          type: boolean
        data:
          type: object
          properties:
            booking_id:
              type: string
              format: uuid
            status:
              type: string
            created_at:
              type: string
              format: date-time

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8

    AuthResponse:
      type: object
      required: [ok, data]
      properties:
        ok:
          type: boolean
        data:
          type: object
          properties:
            token:
              type: string
            user:
              type: object

    VendorRegisterRequest:
      type: object
      required: [businessName, serviceTypes]
      properties:
        businessName:
          type: string
        serviceTypes:
          type: array
          items:
            type: string

    VendorResponse:
      type: object
      required: [ok, data]
      properties:
        ok:
          type: boolean
        data:
          type: object
          properties:
            vendor_id:
              type: string
              format: uuid

    AuditLogResponse:
      type: object
      required: [ok, data]
      properties:
        ok:
          type: boolean
        data:
          type: object
          properties:
            entries:
              type: array
              items:
                type: object
            total:
              type: integer

    ErrorEnvelope:
      description: Error response envelope.
      oneOf:
        - type: object
          required: [error]
          properties:
            error:
              type: string
          additionalProperties: true
        - type: object
          required: [ok, code, message]
          properties:
            ok:
              type: boolean
              example: false
            code:
              type: string
              example: VALIDATION_ERROR
            message:
              type: string
            details:
              type: object
              additionalProperties: true
            correlation_id:
              type: string
          additionalProperties: true













